{
  "openapi": "3.1.0",
  "info": {
    "title": "Nextbell private Android beta API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.nextbell.org/api/v1",
      "description": "Set the dedicated beta origin before deployment."
    }
  ],
  "components": {
    "securitySchemes": {
      "firebase": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Firebase ID token"
      }
    },
    "schemas": {
      "Manifest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "revision": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "collections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200,
                  "pattern": "^[A-Za-z0-9_-]+$"
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "account",
                    "source",
                    "entry",
                    "taskList",
                    "task"
                  ]
                },
                "owner": {
                  "type": "string",
                  "maxLength": 200
                },
                "generation": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200,
                  "pattern": "^[A-Za-z0-9_-]+$"
                },
                "revision": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "count": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "selectionVersion": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "deleted": {
                  "type": "boolean"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                },
                "syncedAt": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "error": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "key",
                "kind",
                "owner",
                "generation",
                "revision",
                "count",
                "selectionVersion",
                "deleted",
                "updatedAt",
                "syncedAt",
                "error"
              ]
            }
          },
          "preferences": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200,
                  "pattern": "^[A-Za-z0-9_-]+$"
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "settings",
                    "source",
                    "taskList",
                    "override",
                    "taskAlarm"
                  ]
                },
                "targetId": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200,
                  "pattern": "^[A-Za-z0-9_-]+$"
                },
                "owner": {
                  "type": "string"
                },
                "value": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                },
                "version": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "revision": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "deleted": {
                  "type": "boolean"
                }
              },
              "required": [
                "key",
                "kind",
                "targetId",
                "owner",
                "value",
                "version",
                "revision",
                "deleted"
              ]
            }
          },
          "devices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                },
                "name": {
                  "type": "string"
                },
                "platform": {
                  "type": "string",
                  "const": "android"
                },
                "appVersion": {
                  "type": "string"
                },
                "alarmsEnabled": {
                  "type": "boolean"
                },
                "version": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "lastSeen": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                },
                "health": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "deviceVersion": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "appliedRevision": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "scheduledRevision": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "scheduledCount": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 100000
                        },
                        "earliestUnscheduled": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "alarms": {
                          "type": "boolean"
                        },
                        "notifications": {
                          "type": "boolean"
                        },
                        "fullScreen": {
                          "type": "boolean"
                        },
                        "error": {
                          "type": "string",
                          "enum": [
                            "permission",
                            "capacity",
                            "scheduling",
                            "offline",
                            "none"
                          ]
                        }
                      },
                      "required": [
                        "deviceVersion",
                        "appliedRevision",
                        "scheduledRevision",
                        "scheduledCount",
                        "earliestUnscheduled",
                        "alarms",
                        "notifications",
                        "fullScreen",
                        "error"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "name",
                "platform",
                "appVersion",
                "alarmsEnabled",
                "version",
                "lastSeen",
                "health"
              ]
            }
          },
          "serverTime": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
          }
        },
        "required": [
          "revision",
          "collections",
          "preferences",
          "devices",
          "serverTime"
        ]
      },
      "Page": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200,
                  "pattern": "^[A-Za-z0-9_-]+$"
                },
                "data": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              },
              "required": [
                "id",
                "data"
              ]
            }
          },
          "next": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "rows",
          "next"
        ]
      },
      "Mutation": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "mutationId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "baseVersion": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "patch": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "settings"
                  },
                  "targetId": {
                    "type": "string",
                    "const": "main"
                  },
                  "value": {
                    "type": "object",
                    "properties": {
                      "minutes": {
                        "maxItems": 32,
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 40320
                        }
                      },
                      "snoozeMinutes": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 60
                      },
                      "theme": {
                        "type": "string",
                        "enum": [
                          "system",
                          "light",
                          "dark"
                        ]
                      },
                      "onboarded": {
                        "type": "boolean"
                      },
                      "urgentNotices": {
                        "type": "boolean"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": [
                  "kind",
                  "targetId",
                  "value"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "source"
                  },
                  "targetId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "pattern": "^[A-Za-z0-9_-]+$"
                  },
                  "value": {
                    "type": "object",
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": [
                          "off",
                          "showOnly",
                          "alarm"
                        ]
                      },
                      "reminderMinutes": {
                        "anyOf": [
                          {
                            "maxItems": 32,
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 40320
                            }
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": [
                  "kind",
                  "targetId",
                  "value"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "taskList"
                  },
                  "targetId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "pattern": "^[A-Za-z0-9_-]+$"
                  },
                  "value": {
                    "type": "object",
                    "properties": {
                      "selected": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "selected"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "kind",
                  "targetId",
                  "value"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "override"
                  },
                  "targetId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "pattern": "^[A-Za-z0-9_-]+$"
                  },
                  "value": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "sourceId": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 200,
                            "pattern": "^[A-Za-z0-9_-]+$"
                          },
                          "minutes": {
                            "maxItems": 32,
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 40320
                            }
                          }
                        },
                        "required": [
                          "sourceId",
                          "minutes"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "kind",
                  "targetId",
                  "value"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "taskAlarm"
                  },
                  "targetId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "pattern": "^[A-Za-z0-9_-]+$"
                  },
                  "value": {
                    "type": "object",
                    "properties": {
                      "alarmAt": {
                        "anyOf": [
                          {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "alarmAt"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "kind",
                  "targetId",
                  "value"
                ]
              }
            ]
          }
        },
        "required": [
          "mutationId",
          "baseVersion",
          "patch"
        ],
        "additionalProperties": false
      },
      "Preference": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "kind": {
            "type": "string",
            "enum": [
              "settings",
              "source",
              "taskList",
              "override",
              "taskAlarm"
            ]
          },
          "targetId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "owner": {
            "type": "string"
          },
          "value": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "version": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "revision": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "deleted": {
            "type": "boolean"
          }
        },
        "required": [
          "key",
          "kind",
          "targetId",
          "owner",
          "value",
          "version",
          "revision",
          "deleted"
        ]
      },
      "Registration": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "platform": {
            "type": "string",
            "const": "android"
          },
          "pushToken": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 10,
                "maxLength": 4096
              },
              {
                "type": "null"
              }
            ]
          },
          "appVersion": {
            "type": "string",
            "maxLength": 50
          }
        },
        "required": [
          "id",
          "name",
          "platform",
          "pushToken",
          "appVersion"
        ],
        "additionalProperties": false
      },
      "Device": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "name": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "const": "android"
          },
          "appVersion": {
            "type": "string"
          },
          "alarmsEnabled": {
            "type": "boolean"
          },
          "version": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
          },
          "health": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "deviceVersion": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "appliedRevision": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "scheduledRevision": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "scheduledCount": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100000
                  },
                  "earliestUnscheduled": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "alarms": {
                    "type": "boolean"
                  },
                  "notifications": {
                    "type": "boolean"
                  },
                  "fullScreen": {
                    "type": "boolean"
                  },
                  "error": {
                    "type": "string",
                    "enum": [
                      "permission",
                      "capacity",
                      "scheduling",
                      "offline",
                      "none"
                    ]
                  }
                },
                "required": [
                  "deviceVersion",
                  "appliedRevision",
                  "scheduledRevision",
                  "scheduledCount",
                  "earliestUnscheduled",
                  "alarms",
                  "notifications",
                  "fullScreen",
                  "error"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "platform",
          "appVersion",
          "alarmsEnabled",
          "version",
          "lastSeen",
          "health"
        ]
      },
      "Health": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "deviceVersion": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "appliedRevision": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "scheduledRevision": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "scheduledCount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100000
          },
          "earliestUnscheduled": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              },
              {
                "type": "null"
              }
            ]
          },
          "alarms": {
            "type": "boolean"
          },
          "notifications": {
            "type": "boolean"
          },
          "fullScreen": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "enum": [
              "permission",
              "capacity",
              "scheduling",
              "offline",
              "none"
            ]
          }
        },
        "required": [
          "deviceVersion",
          "appliedRevision",
          "scheduledRevision",
          "scheduledCount",
          "earliestUnscheduled",
          "alarms",
          "notifications",
          "fullScreen",
          "error"
        ],
        "additionalProperties": false
      },
      "Link": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 10,
            "maxLength": 4096
          },
          "expectedAccountId": {
            "type": "string",
            "pattern": "^\\d{5,100}$"
          },
          "attemptId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          }
        },
        "required": [
          "code",
          "expectedAccountId",
          "attemptId"
        ],
        "additionalProperties": false
      },
      "Error": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "current": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "pattern": "^[A-Za-z0-9_-]+$"
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "settings",
                      "source",
                      "taskList",
                      "override",
                      "taskAlarm"
                    ]
                  },
                  "targetId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "pattern": "^[A-Za-z0-9_-]+$"
                  },
                  "owner": {
                    "type": "string"
                  },
                  "value": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  },
                  "version": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "revision": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "deleted": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "key",
                  "kind",
                  "targetId",
                  "owner",
                  "value",
                  "version",
                  "revision",
                  "deleted"
                ]
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      }
    }
  },
  "paths": {
    "/sync": {
      "get": {
        "summary": "Download changes since a committed cursor",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manifest"
                }
              }
            }
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Queue a Google refresh",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{key}/{generation}": {
      "get": {
        "summary": "Read an immutable, access-checked page",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "generation",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/preferences": {
      "post": {
        "summary": "Apply an idempotent versioned preference",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Mutation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Preference"
                }
              }
            }
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/devices": {
      "post": {
        "summary": "Register the authenticated phone",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Registration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/devices/{id}": {
      "patch": {
        "summary": "Change alarms on a phone; requires alarmsEnabled and version",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "alarmsEnabled": {
                    "type": "boolean"
                  },
                  "version": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  }
                },
                "required": [
                  "alarmsEnabled",
                  "version"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/devices/health": {
      "post": {
        "summary": "Report applied revisions and actual native scheduling coverage",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Health"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/devices/current": {
      "delete": {
        "summary": "Unregister this phone and its push token",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/authorization": {
      "post": {
        "summary": "Create a short-lived authorization attempt",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "expectedAccountId": {
                    "type": "string",
                    "pattern": "^\\d{5,100}$"
                  }
                },
                "required": [
                  "expectedAccountId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/accounts/link": {
      "post": {
        "summary": "Exchange the account-bound offline Google authorization code",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Link"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "delete": {
        "summary": "Remove a connected Google source account",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{id}/complete": {
      "post": {
        "summary": "Queue Google task completion",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "mutationId": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  }
                },
                "required": [
                  "mutationId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/operations/{id}": {
      "get": {
        "summary": "Inspect pending, complete, or failed task completion",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "delete": {
        "summary": "Delete Nextbell account; requires authentication within five minutes",
        "security": [
          {
            "firebase": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Safe error; 409 conflicts are never silently overwritten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
